body {
	background: LINEAR-GRADIENT(TO RIGHT, RGB(64, 0, 64), RGB(238, 238, 238));
}

.App {
	background-color: #3f3160;
	min-height: 500px;
	width: 400px;
	margin: 40px auto;
	border-radius: 10px;
}

#to-do-form input {
	background-color: rgb(91, 154, 196);
	border: 0;
	width: 200px;
	height: 50px;
	margin: 20px;
	padding: 0 20px;
	font-size: 18px;
	border-radius: 10px;
}

#to-do-form input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

#to-do-form input:focus {
	outline: none;
}

#to-do-form button {
	height: 50px;
	width: 80px;
	border-radius: 5px;
	border: 0;
	background-color: rgb(211, 198, 19);
	cursor: pointer;
}
#to-do-form button:focus {
	outline: none;
}
